.body {
  background-color: #5E72C0;
  height: 100vh;
  padding: 2px;
  display: flex;

  .chooseList {
    width: 20%;
  }

  .itemList {
    width: 80%;
    height: 100%;
    background-color: #E1E5F3;
  }
}