.chooseLabel {
  width: 100%;
  height: 65px;
  background-color: #FFFFFF;
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;

  &.clicking {
    background-color: #E1E5F3;
  }

  .logo {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .text {
    margin-left: 20px;
    user-select: none;
  }
}